<div class="container">
<div class="masonry" >           
    <div class="brick" *ngFor="let image of images; let i = index;" appHighlight [imageObj]="image">      
      <img src="{{image.url}}"
           alt="{{image.name}}"
           (click)="openImage(image)"
           (error)="updateUrl(i)"           
           />        
      <div [className]="'img-buttons'">
        <li>
        <a (click)="deleteImage(image)" *ngIf="image.user_id === false">
          <mat-icon color="warn" >delete</mat-icon>
        </a>
        <a (click)="setLike(image)" *ngIf="user_id">
          <mat-icon style="color: #bd081c" *ngIf="image.likes" matBadge="{{image.likes.length}}"
            matBadgePosition="after" 
            matBadgeSize="small"  
            matBadgeColor="accent" >favorite</mat-icon>
          <mat-icon style="color: #bd081c" *ngIf="!image.likes" >favorite</mat-icon>
        </a>
        </li>       
      </div>            
    </div>    
  </div>
</div>



