.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;    
    display: block;
    width: 100%;       
}

.image{        
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    max-width: 100%;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;      
    align-items: center;
    font-size: 0.8em;
}

.footer a{
    text-decoration: none;
    color: #bd081c;
}
