<form [formGroup]="imageForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">    
  <mat-card>
  <mat-card-title>Add image</mat-card-title>
  <mat-card-content>
      <mat-form-field>                
          <input matInput formControlName="url" placeholder="URL" required pattern="https?://.+">            
      </mat-form-field>
      <mat-form-field>               
          <input matInput formControlName="name" placeholder="Name" required>
      </mat-form-field>                        
  </mat-card-content>
  <mat-card-actions>       
      <button mat-raised-button
          color="accent"            
          type="submit"
          [disabled]="!imageForm.valid">
          Save
      </button>       
  </mat-card-actions>    
</mat-card>
</form>





